.unison.*tmp
/pin.log
/r*cc
*.dSYM
.DS_Store
/.compiler
/config.local
/perf.data*
.dropbox
.Rhistory
/bin
/driver
/tester
/resultgen
/testgen
/fastdriver
/libcore.so
/impl.tar.gz
/libs/*
*.o
*.a
*.dot
*.pdf
*.png
*._
Icon*
